@{
    ViewBag.Title = "ApiCustomer";
}

<h2>API Call Successful!</h2>
<br />
<h3>Customer Response: </h3>

<p style="word-wrap: break-word;">@Model</p>

<br />

<input type="button" name="backBtn" value="Go Back" onclick="history.back()" />